# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dev-debug.log

# Dependency directories
node_modules/
venv/
__pycache__/
# Environment variables
.env
.taskmaster
# Editor directories and files
.idea
.vscode
.cursor
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS specific
.DS_Store

# Ignore CSV backups
data/backups/
*.backup_*.csv
